<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fy.dao.UserDao">

    <select id="findByUsername" resultType="User">
        select * from user where username=#{username}
    </select>

    <insert id="addUser" parameterType="cn.fy.domain.User">

        insert into user(username,password,name,birthday,sex,telephone,email,status,code)
        values (#{username}, #{password},#{name},#{birthday},#{sex},#{telephone},#{email},#{status},#{code})

    </insert>

    <update id="updateStatus" parameterType="cn.fy.domain.User">
        update user  set status  ='Y' where uid =#{uid}
    </update>

    <select id="findByCode" resultType="User">
        select * from user where code=#{code}
    </select>

    <select id="findByUsernameAndPassword" resultType="User" parameterType="cn.fy.domain.User">
        select * from user where username=#{username} , password = #{password}
    </select>




</mapper>